In [3]:
df_clean = pd.read_csv("../data/datasets/brut/df_final2.csv")

In [13]:
df_clean2 = df_clean[df_clean['OfferTitle'].isin(['Data Engineer H/F', 'Data Analyst H/F'])]

df_clean2.to_csv("../data/datasets/brut/df_clean2.csv")

In [4]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1693 entries, 0 to 1692
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1693 non-null   int64
 1   Id               1693 non-null   int64
 2   PublishDate      1693 non-null   object
 3   Domaine          1693 non-null   object
 4   OfferTitle       1693 non-null   object
 5   OfferLabel       1693 non-null   object
 6   ContractType     1693 non-null   object
 7   IsFulltime       1693 non-null   bool
 8   Telework         1693 non-null   object
 9   DisplayedSalary  1693 non-null   object
 10  Description      1693 non-null   object
 11  Profile          969 non-null    object
 12  CompanyName      1693 non-null   object
 13  CompanyLogo      1693 non-null   object
 14  UrlOffre         1693 non-null   object
 15  Pays             1693 non-null   object
 16  Region           1693 non-null   object
 17  Departement      1693 non-null   object
 18  Ville            1693 non-null   object
 19  CodePostal       1693 non-null   object
 20  salaire_min      386 non-null    float64
 21  salaire_max      386 non-null    float64
dtypes: bool(1), float64(2), int64(2), object(17)
memory usage: 279.5+ KB

In [5]:
import pandas as pd

df_clean_nlp = pd.read_csv("../data/datasets/propre/df_clean2_nlp.csv")

df_clean_nlp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1693 entries, 0 to 1692
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1693 non-null   int64
 1   Id                1693 non-null   int64
 2   PublishDate       1693 non-null   object
 3   Domaine           1693 non-null   object
 4   OfferTitle        1693 non-null   object
 5   OfferLabel        1693 non-null   object
 6   ContractType      1693 non-null   object
 7   IsFulltime        1693 non-null   bool
 8   Telework          1693 non-null   object
 9   DisplayedSalary   1693 non-null   object
 10  Description       1693 non-null   object
 11  Profile           969 non-null    object
 12  CompanyName       1693 non-null   object
 13  CompanyLogo       1693 non-null   object
 14  UrlOffre          1693 non-null   object
 15  Pays              1693 non-null   object
 16  Region            1693 non-null   object
 17  Departement       1693 non-null   object
 18  Ville             1693 non-null   object
 19  CodePostal        1693 non-null   object
 20  salaire_min       386 non-null    float64
 21  salaire_max       386 non-null    float64
 22  Competences_Clés  1693 non-null   object
 23  Soft_Skills       1693 non-null   object
 24  Outils            1693 non-null   object
dtypes: bool(1), float64(2), int64(2), object(20)
memory usage: 319.2+ KB

In [6]:
df_clean_nlp['Competences_Clés'].value_counts()

Competences_Clés
[]                                                                                                                                                                                                          134
['Nettoyage et transformation des données']                                                                                                                                                                  56
['SQL et bases de données']                                                                                                                                                                                  46
['Visualisation et storytelling']                                                                                                                                                                            45
['Cloud et Big Data', 'Nettoyage et transformation des données', 'Python', 'SQL et bases de données']                                                                                                        43
                                                                                                                                                                                                           ...
['Visualisation et storytelling', 'Python', 'Modélisation et machine learning']                                                                                                                               1
['Automatisation et scripting', 'Python', 'Modélisation et machine learning', 'SQL et bases de données', 'Statistiques et probabilités']                                                                      1
['Déploiement et industrialisation', 'Nettoyage et transformation des données', 'Python', 'Modélisation et machine learning', 'SQL et bases de données']                                                      1
['Cloud et Big Data', 'Gestion des API et Web Scraping', 'Visualisation et storytelling', 'Déploiement et industrialisation', 'Nettoyage et transformation des données', 'Statistiques et probabilités']      1
['Cloud et Big Data', 'Visualisation et storytelling', 'Nettoyage et transformation des données', 'Modélisation et machine learning', 'Statistiques et probabilités']                                         1
Name: count, Length: 360, dtype: int64

In [7]:
df_clean_nlp['Soft_Skills'].value_counts()

Soft_Skills
['Résolution de problèmes', 'Curiosité et apprentissage continu', 'Collaboration et travail en équipe']                                                                                               91
['Résolution de problèmes', 'Collaboration et travail en équipe']                                                                                                                                     74
['Esprit analytique', 'Résolution de problèmes', 'Curiosité et apprentissage continu', 'Collaboration et travail en équipe']                                                                          73
['Curiosité et apprentissage continu', 'Collaboration et travail en équipe']                                                                                                                          67
['Résolution de problèmes', 'Curiosité et apprentissage continu', 'Communication et vulgarisation', 'Collaboration et travail en équipe']                                                             50
                                                                                                                                                                                                      ..
['Résolution de problèmes', 'Communication et vulgarisation', 'Gestion du temps et organisation', 'Collaboration et travail en équipe']                                                                1
['Esprit analytique', 'Curiosité et apprentissage continu', 'Communication et vulgarisation', 'Adaptabilité et agilité']                                                                               1
['Curiosité et apprentissage continu', 'Communication et vulgarisation', 'Gestion du temps et organisation']                                                                                           1
['Résolution de problèmes', 'Esprit analytique', 'Curiosité et apprentissage continu', 'Communication et vulgarisation', 'Adaptabilité et agilité']                                                    1
['Résolution de problèmes', 'Collaboration et travail en équipe', 'Gestion du temps et organisation', 'Esprit analytique', 'Curiosité et apprentissage continu', 'Communication et vulgarisation']     1
Name: count, Length: 214, dtype: int64

In [8]:
df_clean_nlp['Outils'].value_counts()

Outils
[]                                                                                                         399
['Python', 'SQL']                                                                                          100
['Power BI / Tableau / Looker']                                                                             98
['Python']                                                                                                  90
['SQL']                                                                                                     90
                                                                                                          ...
['Git & GitHub/GitLab', 'Apache Airflow & dbt', 'Cloud Computing']                                           1
['Apache Airflow & dbt', 'Docker & Kubernetes', 'Python', 'Power BI / Tableau / Looker', 'SQL']              1
['Apache Airflow & dbt', 'Git & GitHub/GitLab', 'Docker & Kubernetes', 'Python', 'Cloud Computing']          1
['Git & GitHub/GitLab', 'Docker & Kubernetes', 'Power BI / Tableau / Looker', 'SQL', 'Cloud Computing']      1
['Docker & Kubernetes', 'Cloud Computing']                                                                   1
Name: count, Length: 131, dtype: int64

In [9]:
df_clean_nlp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1693 entries, 0 to 1692
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1693 non-null   int64
 1   Id                1693 non-null   int64
 2   PublishDate       1693 non-null   object
 3   Domaine           1693 non-null   object
 4   OfferTitle        1693 non-null   object
 5   OfferLabel        1693 non-null   object
 6   ContractType      1693 non-null   object
 7   IsFulltime        1693 non-null   bool
 8   Telework          1693 non-null   object
 9   DisplayedSalary   1693 non-null   object
 10  Description       1693 non-null   object
 11  Profile           969 non-null    object
 12  CompanyName       1693 non-null   object
 13  CompanyLogo       1693 non-null   object
 14  UrlOffre          1693 non-null   object
 15  Pays              1693 non-null   object
 16  Region            1693 non-null   object
 17  Departement       1693 non-null   object
 18  Ville             1693 non-null   object
 19  CodePostal        1693 non-null   object
 20  salaire_min       386 non-null    float64
 21  salaire_max       386 non-null    float64
 22  Competences_Clés  1693 non-null   object
 23  Soft_Skills       1693 non-null   object
 24  Outils            1693 non-null   object
dtypes: bool(1), float64(2), int64(2), object(20)
memory usage: 319.2+ KB

In [14]:
df_clean_nlp['OfferLabel'].value_counts()

OfferLabel
Ingénieur big data                     501
Analyste de données                    390
Data manager                           251
Data scientist                         228
Consultant en big data                 155
Architecte de bases de données          51
Responsable data LAB                    31
Administrateur de bases de données      28
Data miner                              14
Administrateur data center              13
Ingénieur bases de données               7
Technicien de données                    6
Architecte big data                      5
Ingénieur qualité des données            5
Délégué à la protection des données      4
Responsable bases de données             3
Technicien data center                   1
Name: count, dtype: int64

In [11]:
df_clean_nlp['ContractType'].value_counts()

ContractType
CDI                      1313
Stage                     199
Alternance                 71
CDD                        43
Indépendant/Freelance      41
Intérim                    26
Name: count, dtype: int64

In [13]:
df_clean['Domaine'].value_counts()

Domaine
informatique    1689
juridique          4
Name: count, dtype: int64

In [ ]:
df_clean_nlp