In [3]:
df_clean = pd.read_csv("../data/datasets/brut/df_final2.csv")

In [13]:
df_clean2 = df_clean[df_clean['OfferTitle'].isin(['Data Engineer H/F', 'Data Analyst H/F'])]

df_clean2.to_csv("../data/datasets/brut/df_clean2.csv")

In [4]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1693 entries, 0 to 1692
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       1693 non-null   int64
 1   Id               1693 non-null   int64
 2   PublishDate      1693 non-null   object
 3   Domaine          1693 non-null   object
 4   OfferTitle       1693 non-null   object
 5   OfferLabel       1693 non-null   object
 6   ContractType     1693 non-null   object
 7   IsFulltime       1693 non-null   bool
 8   Telework         1693 non-null   object
 9   DisplayedSalary  1693 non-null   object
 10  Description      1693 non-null   object
 11  Profile          969 non-null    object
 12  CompanyName      1693 non-null   object
 13  CompanyLogo      1693 non-null   object
 14  UrlOffre         1693 non-null   object
 15  Pays             1693 non-null   object
 16  Region           1693 non-null   object
 17  Departement      1693 non-null   object
 18  Ville            1693 non-null   object
 19  CodePostal       1693 non-null   object
 20  salaire_min      386 non-null    float64
 21  salaire_max      386 non-null    float64
dtypes: bool(1), float64(2), int64(2), object(17)
memory usage: 279.5+ KB

In [2]:
import pandas as pd

df_clean_nlp = pd.read_csv("../data/datasets/propre/df_clean3_nlp.csv")

df_clean_nlp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1693 entries, 0 to 1692
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                1693 non-null   int64
 1   PublishDate       1693 non-null   object
 2   Domaine           1693 non-null   object
 3   OfferTitle        1693 non-null   object
 4   OfferLabel        1693 non-null   object
 5   ContractType      1693 non-null   object
 6   IsFulltime        1693 non-null   bool
 7   Telework          1693 non-null   object
 8   DisplayedSalary   1693 non-null   object
 9   Description       1693 non-null   object
 10  Profile           969 non-null    object
 11  CompanyName       1693 non-null   object
 12  CompanyLogo       1693 non-null   object
 13  UrlOffre          1693 non-null   object
 14  Pays              1693 non-null   object
 15  Region            1693 non-null   object
 16  Departement       1693 non-null   object
 17  Ville             1693 non-null   object
 18  CodePostal        1693 non-null   object
 19  salaire_min       386 non-null    float64
 20  salaire_max       386 non-null    float64
 21  categorie_metier  1693 non-null   object
 22  Competences_Clés  1693 non-null   object
 23  Soft_Skills       1693 non-null   object
 24  Outils            1693 non-null   object
dtypes: bool(1), float64(2), int64(1), object(21)
memory usage: 319.2+ KB

In [3]:
df_clean_nlp['Competences_Clés'].value_counts()

Competences_Clés
[]                                                                                                                                                                             134
['Nettoyage et transformation des données']                                                                                                                                     56
['SQL et bases de données']                                                                                                                                                     46
['Visualisation et storytelling']                                                                                                                                               45
['Statistiques et probabilités']                                                                                                                                                39
                                                                                                                                                                              ...
['Python', 'Modélisation et machine learning', 'Déploiement et industrialisation', 'Statistiques et probabilités']                                                               1
['Nettoyage et transformation des données', 'SQL et bases de données', 'Modélisation et machine learning', 'Visualisation et storytelling', 'Statistiques et probabilités']      1
['SQL et bases de données', 'Cloud et Big Data', 'Modélisation et machine learning', 'Visualisation et storytelling']                                                            1
['SQL et bases de données', 'Gestion des API et Web Scraping', 'Python']                                                                                                         1
['Nettoyage et transformation des données', 'Cloud et Big Data', 'Modélisation et machine learning', 'Visualisation et storytelling', 'Statistiques et probabilités']            1
Name: count, Length: 375, dtype: int64

In [4]:
df_clean_nlp['Soft_Skills'].value_counts()

Soft_Skills
['Curiosité et apprentissage continu', 'Résolution de problèmes', 'Collaboration et travail en équipe']                                                                                               91
['Résolution de problèmes', 'Collaboration et travail en équipe']                                                                                                                                     74
['Curiosité et apprentissage continu', 'Collaboration et travail en équipe']                                                                                                                          67
['Curiosité et apprentissage continu', 'Communication et vulgarisation', 'Résolution de problèmes', 'Collaboration et travail en équipe']                                                             50
['Curiosité et apprentissage continu', 'Esprit analytique', 'Résolution de problèmes', 'Collaboration et travail en équipe']                                                                          44
                                                                                                                                                                                                      ..
['Curiosité et apprentissage continu', 'Communication et vulgarisation', 'Esprit analytique', 'Adaptabilité et agilité']                                                                               1
['Curiosité et apprentissage continu', 'Communication et vulgarisation', 'Gestion du temps et organisation']                                                                                           1
['Communication et vulgarisation', 'Esprit analytique', 'Adaptabilité et agilité', 'Curiosité et apprentissage continu', 'Résolution de problèmes']                                                    1
['Communication et vulgarisation', 'Résolution de problèmes', 'Esprit analytique', 'Adaptabilité et agilité']                                                                                          1
['Communication et vulgarisation', 'Esprit analytique', 'Collaboration et travail en équipe', 'Gestion du temps et organisation', 'Curiosité et apprentissage continu', 'Résolution de problèmes']     1
Name: count, Length: 214, dtype: int64

In [5]:
df_clean_nlp['Outils'].value_counts()

Outils
[]                                                                                                                                 399
['Python', 'SQL']                                                                                                                  100
['Power BI / Tableau / Looker']                                                                                                     98
['Power BI / Tableau / Looker', 'Python', 'SQL']                                                                                    96
['SQL']                                                                                                                             90
                                                                                                                                  ...
['Docker & Kubernetes', 'Git & GitHub/GitLab', 'Apache Airflow & dbt', 'Cloud Computing', 'Power BI / Tableau / Looker', 'SQL']      1
['Jupyter Notebook & VS Code', 'Cloud Computing', 'Power BI / Tableau / Looker', 'Python', 'SQL']                                    1
['SQL', 'Docker & Kubernetes']                                                                                                       1
['Python', 'SQL', 'Git & GitHub/GitLab', 'Jupyter Notebook & VS Code']                                                               1
['Docker & Kubernetes', 'Cloud Computing']                                                                                           1
Name: count, Length: 117, dtype: int64

In [6]:
df_clean_nlp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1693 entries, 0 to 1692
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                1693 non-null   int64
 1   PublishDate       1693 non-null   object
 2   Domaine           1693 non-null   object
 3   OfferTitle        1693 non-null   object
 4   OfferLabel        1693 non-null   object
 5   ContractType      1693 non-null   object
 6   IsFulltime        1693 non-null   bool
 7   Telework          1693 non-null   object
 8   DisplayedSalary   1693 non-null   object
 9   Description       1693 non-null   object
 10  Profile           969 non-null    object
 11  CompanyName       1693 non-null   object
 12  CompanyLogo       1693 non-null   object
 13  UrlOffre          1693 non-null   object
 14  Pays              1693 non-null   object
 15  Region            1693 non-null   object
 16  Departement       1693 non-null   object
 17  Ville             1693 non-null   object
 18  CodePostal        1693 non-null   object
 19  salaire_min       386 non-null    float64
 20  salaire_max       386 non-null    float64
 21  categorie_metier  1693 non-null   object
 22  Competences_Clés  1693 non-null   object
 23  Soft_Skills       1693 non-null   object
 24  Outils            1693 non-null   object
dtypes: bool(1), float64(2), int64(1), object(21)
memory usage: 319.2+ KB

In [13]:
df_clean_nlp['categorie_metier'].value_counts()

categorie_metier
Ingénierie des données    629
Gestion et management     446
Analyse des données       390
Science des données       228
Name: count, dtype: int64

In [8]:
df_clean_nlp['ContractType'].value_counts()

ContractType
CDI                      1313
Stage                     199
Alternance                 71
CDD                        43
Indépendant/Freelance      41
Intérim                    26
Name: count, dtype: int64

In [9]:
df_clean_nlp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1693 entries, 0 to 1692
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                1693 non-null   int64
 1   PublishDate       1693 non-null   object
 2   Domaine           1693 non-null   object
 3   OfferTitle        1693 non-null   object
 4   OfferLabel        1693 non-null   object
 5   ContractType      1693 non-null   object
 6   IsFulltime        1693 non-null   bool
 7   Telework          1693 non-null   object
 8   DisplayedSalary   1693 non-null   object
 9   Description       1693 non-null   object
 10  Profile           969 non-null    object
 11  CompanyName       1693 non-null   object
 12  CompanyLogo       1693 non-null   object
 13  UrlOffre          1693 non-null   object
 14  Pays              1693 non-null   object
 15  Region            1693 non-null   object
 16  Departement       1693 non-null   object
 17  Ville             1693 non-null   object
 18  CodePostal        1693 non-null   object
 19  salaire_min       386 non-null    float64
 20  salaire_max       386 non-null    float64
 21  categorie_metier  1693 non-null   object
 22  Competences_Clés  1693 non-null   object
 23  Soft_Skills       1693 non-null   object
 24  Outils            1693 non-null   object
dtypes: bool(1), float64(2), int64(1), object(21)
memory usage: 319.2+ KB

In [10]:
df_clean_nlp['salaire_min'].value_counts()

salaire_min
40000.0     61
45000.0     41
50000.0     40
35000.0     34
5724.0      33
55000.0     31
30000.0     16
60000.0     14
38000.0     10
42000.0      8
36000.0      8
48000.0      7
37000.0      6
21203.0      6
33000.0      5
34000.0      5
65000.0      4
43000.0      4
70000.0      4
80000.0      4
31000.0      4
39000.0      3
44000.0      3
52000.0      3
32000.0      2
20000.0      2
25000.0      2
9600.0       2
100000.0     2
15600.0      2
7200.0       2
75000.0      2
46000.0      2
45500.0      1
41000.0      1
21622.0      1
9984.0       1
33789.0      1
5000.0       1
26000.0      1
33600.0      1
20511.0      1
58000.0      1
81600.0      1
26937.0      1
120000.0     1
24000.0      1
Name: count, dtype: int64

In [11]:
df_clean_nlp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1693 entries, 0 to 1692
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Id                1693 non-null   int64
 1   PublishDate       1693 non-null   object
 2   Domaine           1693 non-null   object
 3   OfferTitle        1693 non-null   object
 4   OfferLabel        1693 non-null   object
 5   ContractType      1693 non-null   object
 6   IsFulltime        1693 non-null   bool
 7   Telework          1693 non-null   object
 8   DisplayedSalary   1693 non-null   object
 9   Description       1693 non-null   object
 10  Profile           969 non-null    object
 11  CompanyName       1693 non-null   object
 12  CompanyLogo       1693 non-null   object
 13  UrlOffre          1693 non-null   object
 14  Pays              1693 non-null   object
 15  Region            1693 non-null   object
 16  Departement       1693 non-null   object
 17  Ville             1693 non-null   object
 18  CodePostal        1693 non-null   object
 19  salaire_min       386 non-null    float64
 20  salaire_max       386 non-null    float64
 21  categorie_metier  1693 non-null   object
 22  Competences_Clés  1693 non-null   object
 23  Soft_Skills       1693 non-null   object
 24  Outils            1693 non-null   object
dtypes: bool(1), float64(2), int64(1), object(21)
memory usage: 319.2+ KB

In [12]:
df_clean_nlp['Departement'].value_counts()

Departement
['Paris']                                                                                                                                                                     408
['Hauts-de-Seine']                                                                                                                                                            258
['Rhône']                                                                                                                                                                     112
['Nord']                                                                                                                                                                       82
['Gironde']                                                                                                                                                                    76
                                                                                                                                                                             ...
['Ain']                                                                                                                                                                         1
['Landes', 'Charente', 'Charente-Maritime', 'Corrèze', 'Creuse', 'Dordogne', 'Gironde', 'Lot-et-Garonne', 'Pyrénées-Atlantiques', 'Deux-Sèvres', 'Vienne', 'Haute-Vienne']      1
['Aude']                                                                                                                                                                        1
['Vosges']                                                                                                                                                                      1
['Somme']                                                                                                                                                                       1
Name: count, Length: 74, dtype: int64